# Temp files
*.log
*.tmp

# Sequence data
*.fastq.gz
*.fasta.gz
*.fa
*.fa.gz
*.fna.gz
*.fna.ga
*.bam
*.sam
*.vcf
*.vcf.gz

# Results 
/results

# macOS files
.DS_Store

# Python cache
__pycache__/
*.pyc

